omf_common/lib/omf_common/protocol/6.0.rnc

default namespace = "http://schema.mytestbed.net/omf/6.0/protocol"

start = (create | configure | request | release | inform)

common_elements =  element timestamp { text } & element digest { text }? & element signature { text }? & element property { prop_content } * & element guard { element property { prop_content } * }?

anything = ( text | element * { (attribute type { text })?, (text | anything) * })

prop_content = attribute key { text }, (attribute type { text })?, anything *

create = element create {
  common_elements
  & element msg_id { text }
  & element inform_to { text }?
}

configure = element configure {
  common_elements
  & element msg_id { text }
  & element inform_to { text }?
}

request = element request {
  common_elements
  & element msg_id { text }
  & element inform_to { text }?
}

release = element release {
  common_elements
  & element msg_id { text }
  & element inform_to { text }?
  & element resource_id { text }
}

inform = element inform {
  common_elements
  & element context_id { text }?
  & element inform_type { "CREATION_OK" | "CREATION_FAILED" | "STATUS" | "RELEASED" | "ERROR" | "WARN"}
}
