nodeHandler/src/xml/test/nodeHandler1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="builtinType">
    <xs:sequence>
      <xs:element name="status" type="statusType"/>
      <xs:element name="parameters" type="parametersType"/>
      <xs:element name="io" type="ioType"/>
    </xs:sequence>
    <xs:attribute name="name" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="load_image"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="context">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="log" type="xs:string"/>
        <xs:element name="experiment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="parameters" type="parametersType"/>
              <xs:element name="status" type="statusType"/>
              <xs:element name="name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="imageNode"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="project">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Orbit::Admin"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="nodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="row" type="rowType"/>
              <xs:element name="group">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="node" type="nodeType"/>
                  </xs:sequence>
                  <xs:attribute name="name" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="_1"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="disk">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="/dev/hda"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="heartbeatType">
    <xs:attribute name="sentPackets">
      <xs:simpleType>
        <xs:restriction base="xs:byte">
          <xs:enumeration value="1"/>
          <xs:enumeration value="7"/>
          <xs:enumeration value="8"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ts">
      <xs:simpleType>
        <xs:restriction base="xs:time">
          <xs:enumeration value="23:26:44"/>
          <xs:enumeration value="23:26:53"/>
          <xs:enumeration value="23:26:54"/>
          <xs:enumeration value="23:26:56"/>
          <xs:enumeration value="23:26:57"/>
          <xs:enumeration value="23:26:58"/>
          <xs:enumeration value="23:26:59"/>
          <xs:enumeration value="23:27:00"/>
          <xs:enumeration value="23:27:01"/>
          <xs:enumeration value="23:27:02"/>
          <xs:enumeration value="23:27:03"/>
          <xs:enumeration value="23:27:04"/>
          <xs:enumeration value="23:27:05"/>
          <xs:enumeration value="23:27:06"/>
          <xs:enumeration value="23:27:07"/>
          <xs:enumeration value="23:27:08"/>
          <xs:enumeration value="23:27:09"/>
          <xs:enumeration value="23:27:10"/>
          <xs:enumeration value="23:27:15"/>
          <xs:enumeration value="23:29:53"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="receivedPackets">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="108"/>
          <xs:enumeration value="114"/>
          <xs:enumeration value="86"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType mixed="true" name="historyType">
    <xs:attribute name="ts" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="18:26:23"/>
          <xs:enumeration value="18:26:24"/>
          <xs:enumeration value="18:26:25"/>
          <xs:enumeration value="18:26:26"/>
          <xs:enumeration value="18:26:27"/>
          <xs:enumeration value="18:26:28"/>
          <xs:enumeration value="18:26:29"/>
          <xs:enumeration value="18:26:30"/>
          <xs:enumeration value="18:26:31"/>
          <xs:enumeration value="18:26:32"/>
          <xs:enumeration value="18:26:33"/>
          <xs:enumeration value="18:26:34"/>
          <xs:enumeration value="18:26:35"/>
          <xs:enumeration value="18:26:36"/>
          <xs:enumeration value="18:26:37"/>
          <xs:enumeration value="18:26:39"/>
          <xs:enumeration value="18:26:40"/>
          <xs:enumeration value="18:26:41"/>
          <xs:enumeration value="18:26:42"/>
          <xs:enumeration value="18:26:44"/>
          <xs:enumeration value="18:26:47"/>
          <xs:enumeration value="18:26:51"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="image">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="baseline.ndz"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="ioType">
    <xs:sequence>
      <xs:element name="out" type="outType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType mixed="true" name="lineType">
    <xs:attribute name="ts" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="18:26:24"/>
          <xs:enumeration value="18:26:25"/>
          <xs:enumeration value="18:26:26"/>
          <xs:enumeration value="18:26:27"/>
          <xs:enumeration value="18:26:28"/>
          <xs:enumeration value="18:26:29"/>
          <xs:enumeration value="18:26:30"/>
          <xs:enumeration value="18:26:31"/>
          <xs:enumeration value="18:26:32"/>
          <xs:enumeration value="18:26:33"/>
          <xs:enumeration value="18:26:34"/>
          <xs:enumeration value="18:26:35"/>
          <xs:enumeration value="18:26:36"/>
          <xs:enumeration value="18:26:37"/>
          <xs:enumeration value="18:26:38"/>
          <xs:enumeration value="18:26:39"/>
          <xs:enumeration value="18:26:40"/>
          <xs:enumeration value="18:26:41"/>
          <xs:enumeration value="18:26:42"/>
          <xs:enumeration value="18:26:43"/>
          <xs:enumeration value="18:26:44"/>
          <xs:enumeration value="18:26:45"/>
          <xs:enumeration value="18:26:46"/>
          <xs:enumeration value="18:26:47"/>
          <xs:enumeration value="18:26:48"/>
          <xs:enumeration value="18:26:51"/>
          <xs:enumeration value="18:26:53"/>
          <xs:enumeration value="18:26:54"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="mcAddress">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="224.0.0.2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="mcPort">
    <xs:simpleType>
      <xs:restriction base="xs:short">
        <xs:enumeration value="7000"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="nodeType">
    <xs:sequence>
      <xs:element name="status" type="statusType"/>
      <xs:element name="heartbeat" type="heartbeatType"/>
      <xs:element name="procs" type="procsType"/>
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="n_1_1"/>
          <xs:enumeration value="n_1_2"/>
          <xs:enumeration value="n_1_3"/>
          <xs:enumeration value="n_1_4"/>
          <xs:enumeration value="n_1_5"/>
          <xs:enumeration value="n_1_6"/>
          <xs:enumeration value="n_1_7"/>
          <xs:enumeration value="n_1_8"/>
          <xs:enumeration value="n_2_1"/>
          <xs:enumeration value="n_2_2"/>
          <xs:enumeration value="n_2_3"/>
          <xs:enumeration value="n_2_4"/>
          <xs:enumeration value="n_2_5"/>
          <xs:enumeration value="n_2_6"/>
          <xs:enumeration value="n_2_7"/>
          <xs:enumeration value="n_2_8"/>
          <xs:enumeration value="n_3_1"/>
          <xs:enumeration value="n_3_2"/>
          <xs:enumeration value="n_3_3"/>
          <xs:enumeration value="n_3_4"/>
          <xs:enumeration value="n_3_5"/>
          <xs:enumeration value="n_3_6"/>
          <xs:enumeration value="n_3_7"/>
          <xs:enumeration value="n_3_8"/>
          <xs:enumeration value="n_4_1"/>
          <xs:enumeration value="n_4_2"/>
          <xs:enumeration value="n_4_3"/>
          <xs:enumeration value="n_4_4"/>
          <xs:enumeration value="n_4_5"/>
          <xs:enumeration value="n_4_6"/>
          <xs:enumeration value="n_4_7"/>
          <xs:enumeration value="n_4_8"/>
          <xs:enumeration value="n_5_1"/>
          <xs:enumeration value="n_5_2"/>
          <xs:enumeration value="n_5_3"/>
          <xs:enumeration value="n_5_4"/>
          <xs:enumeration value="n_5_5"/>
          <xs:enumeration value="n_5_6"/>
          <xs:enumeration value="n_5_7"/>
          <xs:enumeration value="n_5_8"/>
          <xs:enumeration value="n_6_1"/>
          <xs:enumeration value="n_6_2"/>
          <xs:enumeration value="n_6_3"/>
          <xs:enumeration value="n_6_4"/>
          <xs:enumeration value="n_6_5"/>
          <xs:enumeration value="n_6_6"/>
          <xs:enumeration value="n_6_7"/>
          <xs:enumeration value="n_6_8"/>
          <xs:enumeration value="n_7_1"/>
          <xs:enumeration value="n_7_2"/>
          <xs:enumeration value="n_7_3"/>
          <xs:enumeration value="n_7_4"/>
          <xs:enumeration value="n_7_5"/>
          <xs:enumeration value="n_7_6"/>
          <xs:enumeration value="n_7_7"/>
          <xs:enumeration value="n_7_8"/>
          <xs:enumeration value="n_8_1"/>
          <xs:enumeration value="n_8_2"/>
          <xs:enumeration value="n_8_3"/>
          <xs:enumeration value="n_8_4"/>
          <xs:enumeration value="n_8_5"/>
          <xs:enumeration value="n_8_6"/>
          <xs:enumeration value="n_8_7"/>
          <xs:enumeration value="n_8_8"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="href">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="n_1_1"/>
          <xs:enumeration value="n_1_2"/>
          <xs:enumeration value="n_1_3"/>
          <xs:enumeration value="n_1_4"/>
          <xs:enumeration value="n_1_5"/>
          <xs:enumeration value="n_1_6"/>
          <xs:enumeration value="n_1_7"/>
          <xs:enumeration value="n_1_8"/>
          <xs:enumeration value="n_2_1"/>
          <xs:enumeration value="n_2_2"/>
          <xs:enumeration value="n_2_3"/>
          <xs:enumeration value="n_2_4"/>
          <xs:enumeration value="n_2_5"/>
          <xs:enumeration value="n_2_6"/>
          <xs:enumeration value="n_2_7"/>
          <xs:enumeration value="n_2_8"/>
          <xs:enumeration value="n_3_1"/>
          <xs:enumeration value="n_3_2"/>
          <xs:enumeration value="n_3_3"/>
          <xs:enumeration value="n_3_4"/>
          <xs:enumeration value="n_3_5"/>
          <xs:enumeration value="n_3_6"/>
          <xs:enumeration value="n_3_7"/>
          <xs:enumeration value="n_3_8"/>
          <xs:enumeration value="n_4_1"/>
          <xs:enumeration value="n_4_2"/>
          <xs:enumeration value="n_4_3"/>
          <xs:enumeration value="n_4_4"/>
          <xs:enumeration value="n_4_5"/>
          <xs:enumeration value="n_4_6"/>
          <xs:enumeration value="n_4_7"/>
          <xs:enumeration value="n_4_8"/>
          <xs:enumeration value="n_5_1"/>
          <xs:enumeration value="n_5_2"/>
          <xs:enumeration value="n_5_3"/>
          <xs:enumeration value="n_5_4"/>
          <xs:enumeration value="n_5_5"/>
          <xs:enumeration value="n_5_6"/>
          <xs:enumeration value="n_5_7"/>
          <xs:enumeration value="n_5_8"/>
          <xs:enumeration value="n_6_1"/>
          <xs:enumeration value="n_6_2"/>
          <xs:enumeration value="n_6_3"/>
          <xs:enumeration value="n_6_4"/>
          <xs:enumeration value="n_6_5"/>
          <xs:enumeration value="n_6_6"/>
          <xs:enumeration value="n_6_7"/>
          <xs:enumeration value="n_6_8"/>
          <xs:enumeration value="n_7_1"/>
          <xs:enumeration value="n_7_2"/>
          <xs:enumeration value="n_7_3"/>
          <xs:enumeration value="n_7_4"/>
          <xs:enumeration value="n_7_5"/>
          <xs:enumeration value="n_7_6"/>
          <xs:enumeration value="n_7_7"/>
          <xs:enumeration value="n_7_8"/>
          <xs:enumeration value="n_8_1"/>
          <xs:enumeration value="n_8_2"/>
          <xs:enumeration value="n_8_3"/>
          <xs:enumeration value="n_8_4"/>
          <xs:enumeration value="n_8_5"/>
          <xs:enumeration value="n_8_6"/>
          <xs:enumeration value="n_8_7"/>
          <xs:enumeration value="n_8_8"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="outType">
    <xs:sequence>
      <xs:element name="line" type="lineType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:sequence>
      <xs:element ref="disk" minOccurs="0"/>
      <xs:element ref="image" minOccurs="0"/>
      <xs:element ref="mcAddress" minOccurs="0"/>
      <xs:element ref="mcPort" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="procsType">
    <xs:sequence>
      <xs:element name="builtin" type="builtinType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element name="node" type="nodeType"/>
    </xs:sequence>
    <xs:attribute name="number" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="1"/>
          <xs:enumeration value="2"/>
          <xs:enumeration value="3"/>
          <xs:enumeration value="4"/>
          <xs:enumeration value="5"/>
          <xs:enumeration value="6"/>
          <xs:enumeration value="7"/>
          <xs:enumeration value="8"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType mixed="true" name="statusType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="history" type="historyType"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
